
.contactus__img--background{
    filter:grayscale(100%);
    z-index: 1;
    width: 96vw;
    height: 100vh;
    }
    
    .contactus__section {
    grid-column: 7 / span 4;
    grid-row: 1 /span 9;
    background-color: #ffffff;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 30px rgba(0,0,0,0.75); 
    box-shadow: 2px 2px 30px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    height: 100vh;
    }
    
            .form__title { 
                padding-top: 10vh;
                margin-bottom: 5vh;
                margin-left: 4vw;
            }
            
            .contactus__form {
                display: flex;
                flex-direction: column;
                width: 45vw;
                max-width: 30vw;
                margin-left: 4vw;
            }
            
    .form__section1{
        display: flex;
        width: 85%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1vh;
    }
    
        .form__div--text {
            display: flex;
            flex-direction: column;
            }

            .form--label {
                font-family: 'mulish';
                font-size: 1,5vh;
                margin-top: .3vw;
                }
            
            .form--input{
                border:none;
                border-bottom: 1px solid $secondary_grey;
                border-radius: 0px;
                height: 3vh;
                font-family: 'mulish';
                margin-top: .5vh;
                margin-bottom: .3vh;
                width: 10vw;
                }

   .form__div--adress {
    display: flex;
    flex-direction: column;
    }
    .form--input--address {
        border:none;
        border-bottom: 1px solid #bfbdbd;
        border-radius: 0px;
        height: 3vh;
        font-family: 'mulish';
        margin-top: .5vh;
        margin-bottom: .3vh;
        width: 25vw;
        } 
    .form--input--city {
        border:none;
        border-bottom: 1px solid #bfbdbd;
        border-radius: 0px;
        height: 3vh;
        font-family: 'mulish';
        margin-top: .5vh;
        margin-bottom: .3vh;
        width: 13vw;
        }

    .form__div--select{
        display: flex;
        flex-direction: column;
        }
    
        .form--select {
            border: none;
            height: 3vh;
            border-bottom: 1px solid #bfbdbd;
            border-radius: 0px;
            margin-top: .6vh;
            margin-bottom: .3vh;
            }
    .form__div--zip{
        display: flex;
        flex-direction: column;
       
        }
        .form--input--zip{
            border:none;
        border-bottom: 1px solid $secondary_grey;
        border-radius: 0px;
        height: 3vh;
        font-family: 'mulish';
        margin-top: .5vh;
        margin-bottom: .3vh;
        width: 5vw;
        }

    .form__div--textarea {
        display: flex;
        flex-direction: column;
        margin-bottom: 1vh;
        margin-top: 1vh;
        }

            .form__textarea--input{
                border: none;
                outline: none;
                border-bottom: 1px solid #bfbdbd;
                max-height: 10vh;
                max-width: 25vw;
                font-family: 'mulish';              
                }

    .form--button{
        margin-top:10%;
    }

    @media screen and (max-width:799px) {

         .contactus__form {
            width: 80vw;
        }
        .form--input{
            width: 80vw;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
        .form--input--address{
            width:80vw;
        }
        .contactus__img--background{
            display: none;
        }
        .form__div--zip{
            display: none;
        }
        .form__div--select{
            display: none;
        }

        .form--label--city{
            display: none;
        }
        .form--input--city{
            display: none;
        }

        .form__textarea--input{
        display:none
            }

        .form--label--textarea{
            display: none;
        }
    

        .form--button{
            margin-left: 63vw;
            margin-top:10vh;
        }
    .form__div--checkbox{
        display: flex;
        width: 60vw;
    }
    }
