
.index__image--background{
    max-width: 48vw;
    max-height: 60vh; //because mozilla is a little bitch about sizes.
    grid-column: 6 / 11;
    grid-row: 5 / 11;
    overflow: hidden;            
}

.index__title{
    font-family: 'mulish';
    font-size: 5vmax;
    grid-row: 4;
    grid-column: 2 / span 5;
    color: $text_grey;
} 

.index__button{
    grid-row: 6;
    grid-column: 3;
}

 
 @media screen and (max-width:799px) {
     

    .index__image--background{
        max-width: 100vw;
        margin-top: 5vh;    
    }
    .index__title{
        margin-top: 15vh;
        font-size: 5vmax;
        color: $text_grey;
        margin-left: 10vw;
    } 
    
    .index__button {
        margin-top: 5vh;
        background-color: #5d8a32;
        border-radius:33px;
        cursor:pointer;
        color:#f0f0f0;
        font-family:Verdana;
        font-size:2vmax;
        font-family: 'mulish';
        font-weight:lighter;
        padding:21px 39px;
        text-decoration:none;
        align-self: center;
        text-align: center;
    }
    }