
.login__background{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    grid-column: 1 / span 5;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    }

        .login__background--video{
            min-width: 100%; 
            min-height: 100%; 
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
        }

.login__section {
    grid-column: 7 / span 4;
    grid-row: 1 /span 9;
    background-color: #ffffff;
    z-index: 20;
    -webkit-box-shadow: 2px 2px 30px rgba(0,0,0,0.75); 
    box-shadow: 2px 2px 30px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
    
        .login__title { 
            font-size: 3vmax;
            color: #68953e;
            font-family: 'mulish';
            font-weight: 600;
            padding-top: 10vh;
            margin-bottom: 5vh;
            margin-left: 4vw;
        }
            
        .login__form {
            display: flex;
            flex-direction: column;
            max-width: 30vw;
            margin-left: 4vw;
            justify-content: center;
        }

            .login__div--inputs {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: 3vw;
                }
                        
                .login__label {
                    font-family: 'mulish';
                    font-size: 1rem;
                    margin-top: .3vw;
                }

                .login__input {
                    margin-left: 1.8vw;
                    font-family: 'mulish';
                    height: 2.5vh;
                    width: 65%;
                    font-size: 1rem;
                    margin-top: 1vw;
                    outline: none;
                    border: none;
                    font-weight: lighter;
                    font-size: 1.5rem;
                    border-bottom: 1px solid $secondary_grey;
                }

                    .login__input:focus{
                        animation-duration: .5s;
                        animation-name: itgrows;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                        animation-timing-function: ease-in;
                    } 


            .login__div--slider{
                    
                    display:flex;
                    flex-direction: column;
                    width: 100%;
                    padding-top: 2vw;
                }

                    .login__slider--label{
                        font-family: 'mulish';
                        font-size: 1rem;
                        margin-top: .3vw;
                        margin-bottom: 2vh;
                        }

            .login__div--checkbox {
                margin-top: 3vh;
                align-self: flex-start;
                margin-left: .1vw;
                display: flex;
                flex-wrap: wrap;
                max-width: 10vw;
                }

                .login__checkbox--input {
                margin-top: .25vh;
                margin-right: .3vw;   
                    }

                .login__checkbox--label {
                    font-family: 'mulish';
                    font-weight: lighter;
                    color: $text_grey;
                    margin-bottom: 1vh;
                    }

                .login__checkbox--link {
                    font-family: 'mulish';
                    font-weight: lighter;
                    font-size: 1rem;
                    color: $text_grey;
                    margin-bottom: 1vh;
                    }

                .login__checkbox--link--span:hover {
                    color: $secondary_green;
                    font-weight: bolder;      
                    font-size: 1rem;            
                    }

            .login__div--button{
                display: flex;
                align-self: flex-end;
                max-width: 10vw;
                margin-top: 3vh;
                margin-right: 5vw;

                }    
        

    
    
    
    
    
    
    


  