
/*this section sets and orders the elementsin the grid.*/

.marketplace__main--grid{
    grid-template-columns: repeat(40,2.4vw);
    grid-template-rows: repeat(20, 5vh);
    justify-items: stretch;
    align-self: end;
    grid-row-gap: vh;
    grid-column-gap: 0vw;
    }

        .marketplace__title{
            grid-column: 2;
            grid-row: 1;
            width: 40vw;
            margin-top: 3vh;        
            }

        .marketplace__article1 {
            grid-row: 4 / span 6;
            grid-column: 5 / span 5;   
            }

        .marketplace__article2 {    
            grid-row: 4 / span 6;
            grid-column: 11 / span 25;
            }

        .marketplace__article3 {    
            grid-row: 12 / span 6;
            grid-column: 5 / span 5;
            }

        .marketplace__article4 {    
            grid-row: 12 / span 6;
            grid-column: 11 / span 19;
            }

        .marketplace__article5 {  
            grid-row: 12 /span 6;
            grid-column: 31 / span 5;
            }

        .marketplace__link {
            grid-row: 19;
            grid-column: 18 / span 6;
            align-self: end;
            margin-top: 2vh;
            margin-left: 2vw;
            font-size: .5rem
            }
                .marketplace__link:hover{
                    font-weight: bolder;
                    color: $primary_green;
                }

    
                






.marketplace__article--small {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 15vw;
    max-height: auto;
    background-color: white;
    }
     
        .marketplace__article--small:hover{
            box-shadow: $article_shadow;
            -webkit-box-shadow: $article_shadow;

            }
    
    .marketplace__article--img--div--size1{
        overflow: hidden;
        display: flex;
        }

            .marketplace__article--img--size1 {
                height: 10vw;
                width: auto;
                margin-top: -5vh;
                overflow: hidden;
                }
    


        .marketplace__article--title--size1 {
            font-family: 'mulish';
            }

            .marketplace__article--description--size1 {
                font-family: 'mulish';
            }

.marketplace__article--medium {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: white
    }
        .marketplace__article--medium:hover{
            box-shadow: $article_shadow;
            -webkit-box-shadow: $article_shadow;
            }  
         
            .marketplace__article--img--div--size3 {
                overflow: hidden;
                grid-column: 1 / span 3;
                grid-row: 1 / span 3;
                display: flex;

            }
                .marketplace__article--img--size3 {
                    height: 100%;
                    width:auto
                    }
            .marketplace__article--title--size3{
                font-family: 'mulish';
                }

                .marketplace__article--description--size3 {
                    font-family: 'mulish';
                }

.marketplace__article--big {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: white
     }
        .marketplace__article--big:hover{
            box-shadow: $article_shadow;
            -webkit-box-shadow: $article_shadow;
            }
        
        .marketplace__article--img--div--size2 {
            overflow: hidden;
            grid-column: 1 / span 2;
            grid-row: 1 / span 3;
            display: flex;
        }

            .marketplace__article--img--size2 {
                height: 100%;
                width:auto
                }

        .marketplace__article--title--size2{
            font-family: 'mulish';
            }

            .marketplace__article--description--size2 {
                font-family: 'mulish';
            }






   

