
/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,900;1,200&display=swap');

//Color Variables//

    //Greys
    $primary_grey: #f0f0f0;
    $secondary_grey:#bfbdbd;
    $text_grey: #534f4f;

    //greens
    $primary_green: #5d8a32;
    $secondary_green: #68953e;

//Button Variables these are compiled CSSs that function
//traversally on the Website as variables but are not variables.

    .button--big{
    background-color: $primary_green;
    border-radius:33px;
    cursor:pointer;
    color: $primary_grey;
    font-size:1vmax;
    font-family: 'mulish';
    font-weight:lighter;
    }
        .button--big:hover{
            background-color: $secondary_green;
        }


//Shadow Variables//



//font variables not used yet
.text--header{
    margin: 0.67em 0;
    font-family: 'mulish';
    font-size: xx-large;
    font-weight: 700;
    text-decoration: none; 
  }


