


/*Fonts*/

    //imported Fonts
        @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,900;1,200&display=swap');




/*Some  variables some are scss others are css styles I use all across the site.*/

    //Greys

        $primary_grey: #f0f0f0;
        $secondary_grey:#bfbdbd;
        $tertiary_grey:#574c4cea;
        $text_grey: #696060;

    //greens

        $primary_green: #5d8a32;
        $secondary_green: #68953e;

    //Shadow Variables

        $main_shadow: 2px 2px 30px $tertiary_grey;
        $secondary_shadow: 8px 9px 12px 2px $secondary_grey; 
   
    //text style variables 
 
        .text__title--h1{
            font-size: 3vmax;
            color: $secondary_green;
            font-family: 'mulish';
            font-weight: 600;
        }

        .text__title--h2{
            font-size: 2vmax;
            color: $text_grey;
            font-family: 'mulish';
            font-weight: 500;
        }
        .text__title--h3{
            font-size: 1vmax;
            color: $secondary_grey;
            font-family: 'mulish';
            font-weight: 800;
        }

        .text__p--regular{
            font-family: 'mulish';
            size: .15vmax;
            color:$text_grey;
        }

    //buttons used for main interactions.

        .button--big{
        background-color: $primary_green;
        border-radius:40px;
        padding:22px 40px;
        cursor:pointer;
        color: $primary_grey;
        border: 1px solid $secondary_green;
        font-size:1rem;
        font-family: 'mulish';
        font-weight:lighter;
        text-decoration:none;
        align-self: center;
        text-align: center;
        transition: all .2s ease-in-out;
        }

            .button--big:hover{
                background-color: transparent; 
                border: 1px solid $secondary_green;
                color:$text_grey;
                transition-duration: 0.4s;
                transform: scale(.8);
            }
        @media screen and (max-width:799px) {
            .button--big{
                background-color: $primary_green;
                border-radius:40px;
                padding:12px 20px;
                color: $primary_grey;
                border: 1px solid $secondary_green;
                font-size:.5rem;
                font-family: 'mulish';
                font-weight:lighter;
                text-decoration:none;
                align-self: center;
                text-align: center;
                }
            } //button media query

/*one very much pain in the butt slider. AHA. you will not be de defeat of me!
 this comes from css-tricks but has been heavily modded to fit my page
 kudos to them anyways. also. I chose not to style it to IE. 
 if you use IE you seriously need an intervention. 
 think about what you're doing, it's not too late!
 the only reason anyone should ever use IE 
 is to download any other browser that isn't internet explorer.*/

    //cleaning out browser styles

        input[type=range] {
            -webkit-appearance: none;
            width: 80%;
            margin: 18px;
                }
                input[type=range]:hover {
                    outline: none;
                
                    }

                input[type=range]:focus {
                    outline: none;
                    }

    // the slider button

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: 1px solid $secondary_green;
            height: 24px;
            width: 12px;
            border-radius: 6px;
            background: $secondary_green;
            cursor: pointer;
            margin-top:-8px;
            } // 4 opera, safari & chrome
            input[type=range]::-webkit-slider-thumb:hover{
                background: $primary_grey;
                transition-duration: 0.4s;
                } // 4 opera, safari & chrome
                input[type=range]::-moz-range-thumb {
                    -webkit-appearance: none;
                    border: 1px solid $secondary_green;
                    height: 24px;
                    width: 12px;
                    border-radius: 6px;
                    background: $secondary_green;
                    cursor: pointer;
                    margin-top:-8px;
                    } // 4 mozzilla
                        input[type=range]::-moz-range-thumb:hover{
                            background: $primary_grey;
                            transition-duration: 0.4s;
                            } // 4 mozzilla

    // the track for the slider

        input[type=range]::-webkit-slider-runnable-track {
                width: 100%;
                height: 8.4px;
                cursor: pointer;
                background: $secondary_grey;
                border-radius: 8px;
            
            } // 4 opera, safari & chrome

            input[type=range]:hover::-webkit-slider-runnable-track {
                background: $primary_green;
                transition-duration: 0.4s;
                } //4 opera, safari & chrome

                input[type=range]::-moz-range-track {
                width: 100%;
                height: 8.4px;
                cursor: pointer;
                background: $secondary_grey;
                border-radius: 8px;
            
                } // 4 mozzilla

                    input[type=range]:hover::-moz-range-track {
                        background: $primary_green;
                        transition-duration: 0.4s;
                        } // 4 mozzilla




/*Reusable Keyframes*/

    
    @keyframes loadingfadein {

        0%{ opacity: 0%;}
        10% {opacity:  10%;}
        20%{ opacity: 20%;}
        30% {opacity:  30%;}
        40%{ opacity: 40%;}
        50% {opacity:  50%;}
        60% { opacity: 60%;}
        70% {opacity:  70%;}
        80% {opacity:  80%;}
        90% {opacity:  90%;}
        100% {opacity: 100%;}
        } //used to make the hole page fade into existence.

    @keyframes itgrows {

        0%  {width: 0%;}
        10% {width: 6.5%;}
        20% {width: 13%;}
        30% {width: 19.5%;}
        40% {width: 26%;}
        50% {width: 32.5%;}
        60% {width: 39%;}
        70% {width: 45.5%;}
        80% {width: 52%;}
        90% {width: 58.5%;}
        100% {width: 65%;}
        }  //used for input text bars


























